@import url("https://use.typekit.net/snz0vyw.css");

/*general styles*/

h1, h2, h3, h4, h5 {
    font-family: blenny, sans-serif !important; 
}

a {
    color: white;
}

p {
    font-family: mr-eaves-xl-modern, sans-serif !important; 
}

body {
    font-family: none;
}


.home, .about, .shop, .contact, .shopsingle {
    height: 100vh;
    overflow: hidden;
}

/*main button styles*/
.mainbutton {
    background: none;
    color: white;
    font-family: mr-eaves-xl-modern, sans-serif;
    text-transform: uppercase;
    border: none;
}

.mainbutton-wrapper {
    border-radius: 20px;
}

/*scrollbar functionality*/
html {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/*header component*/
header {
    width: 100vw;
    display: flex;
    align-content: middle;
}

span.menuicon.fa-fw {
    position: absolute;
    right:0;
    top: 0;
    margin: 19px 0 0 25px;
    padding:14px 17px;
    font-size: 1.4rem;
}

/*menu component*/


/*home*/
.home .menuicon.fa-fw{
    border-color: #fff !important;
}

.backgroundimage {
    background-image: none;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundoverlay {
background-color: transparent linear-gradient(130deg, #0D2123 0%, #1B6470 100%) 0% 0% no-repeat padding-box;
height: 100vh;

}
/*about*/
.about .menuicon.fa-fw .fa-inverse {
    color: #000 !important;
}

/*shop*/
.pods-container {
    border: none;
}

/*contact*/

footer {
    background: #1B6470;
    margin: 20px 0;
}

/*media queries*/
