/*general styles*/

h1, h2, h3, h4, h5 {

}

a {
    color: white;
}

header {

}

.fullheightc {
    height: 100vw;
    }

/*home*/
.home {
height: 100vw;
}

.backgroundimage {

}

.backgroundoverlay {

}
/*about*/


/*shop*/


/*contact*/

footer {
    background: #1B6470;
    margin: 20px 0;
}

/*media queries*/
